#{extends 'main.html' /}
#{set title:'Home' /}

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{if plist}
	From HighRise app contacts<hr/>
        
	<form action="@{Application.sayHello()}" method="GET">
		#{list items:plist, as:'myList'}
			<div class="list">
				<span>Title</span>&nbsp;<input type="text" name="title" value=${myList.title} />
			    &nbsp;&nbsp;<span>Firstname</span>&nbsp;<input type="text" name="fname" value=${myList.firstName} /> 
			    &nbsp;&nbsp;<span>Lastname</span>&nbsp;<input type="text" name="lname" value=${myList.lastName} />
			    
		    </div>
		#{/list}
		<input type="submit" value="Next" > 
	</form> 
#{/if}